.instagram {
    height: 30px;
    width: 30px;
    cursor: pointer;

    transition: transform 0.5s ease;

    g {
        g {
            // fill: #a88590;
        }
    }

    &:hover {
        transform: scale(1.1);
    }
}
