.rootContact {
    margin: 80px 0 0 58px;
    // display: flex;
    // flex-direction: row;

    .heading {
        font-weight: 700;

        // color: #f37b83;
        color: #f37b83;
        font-size: 30px;
        line-height: 42px;
        // margin-bottom: 50px;
    }

    .contentContainer {
        display: flex;
        flex-direction: row;
        // justify-content: flex-start;
        // align-items: flex-start;
        .content {
            // height: 500px;
            // width: 100%;
            width: 50%;
            // background-color: red;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 50px;

            .info {
                padding-right: 70px;

                height: 100%;
                width: 100%;
                // background-color: aliceblue;
                .p1 {
                    font-size: 22px;
                    color: #a88590;
                    font-weight: normal;
                    margin-bottom: 30px;
                    line-height: 35px;
                }

                .p2 {
                    font-size: 16px;
                    color: #a88590;
                    font-weight: normal;
                    margin-bottom: 30px;

                    line-height: 30px;
                }

                .p3 {
                    font-size: 16px;
                    color: #a88590;
                    font-weight: normal;
                    margin-bottom: 30px;

                    line-height: 30px;
                }

                .socials {
                    p {
                        font-size: 20px;
                        color: #a88590;
                        font-weight: normal;
                        margin-bottom: 15px;

                        line-height: 30px;
                    }

                    .svgs {
                        display: flex;
                        flex-direction: row;

                        div {
                            margin-right: 22px;
                        }
                    }
                }
            }
        }

        .form {
            margin-top: 50px;
            // height: fit-content;
            // width: fit-content;
            // height: inherit;
            height: 440px;
            width: 45%;
            background-color: #f37b83;
        }
    }
}

@media screen and (min-width: 1700px) {
    .rootContact {
        margin: 80px 0 0 58px;
        // display: flex;
        // flex-direction: row;

        .heading {
            font-weight: 700;

            // color: #f37b83;
            color: #f37b83;
            font-size: 35px;
            line-height: 42px;
            // margin-bottom: 50px;
        }

        .contentContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-right: 120px;
            // justify-content: flex-start;
            // align-items: flex-start;
            .content {
                // height: 500px;
                // width: 100%;
                width: 55%;
                // background-color: red;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 50px;

                .info {
                    padding-right: 70px;

                    height: 100%;
                    width: 100%;
                    // background-color: aliceblue;
                    .p1 {
                        font-size: 27px;
                        color: #a88590;
                        font-weight: normal;
                        margin-bottom: 35px;
                        line-height: 35px;
                    }

                    .p2 {
                        font-size: 21px;
                        color: #a88590;
                        font-weight: 200;
                        margin-bottom: 35px;

                        line-height: 30px;
                    }

                    .p3 {
                        font-size: 21px;
                        color: #a88590;
                        font-weight: 200;
                        margin-bottom: 35px;

                        line-height: 30px;
                    }

                    .socials {
                        p {
                            font-size: 25px;
                            color: #a88590;
                            font-weight: normal;
                            margin-bottom: 20px;

                            line-height: 30px;
                        }

                        .svgs {
                            display: flex;
                            flex-direction: row;

                            div {
                                margin-right: 22px;
                            }
                        }
                    }
                }
            }

            .form {
                margin-left: 0px;
                margin-top: 50px;
                // height: fit-content;
                // width: fit-content;
                // height: inherit;
                height: 460px;
                width: 40%;
                background-color: #f37b83;
            }
        }
    }
}

@media screen and (max-width: 1260px) {
    .rootContact {
        // height: max-content;
        margin: 80px 0 0 58px;

        // display: flex;
        // flex-direction: column;

        .heading {
            font-weight: 700;

            // color: #f37b83;
            color: #f37b83;
            font-size: 30px;
            line-height: 42px;
            // margin-bottom: 50px;
        }

        .contentContainer {
            display: flex;
            flex-direction: column;
            .content {
                height: 400px;
                width: 100%;
                // background-color: red;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 50px;

                .info {
                    padding-right: 70px;

                    max-height: fit-content;
                    width: 100%;
                    // background-color: aliceblue;
                    .p1 {
                        font-size: 22px;
                        color: #a88590;
                        font-weight: normal;
                        margin-bottom: 20px;
                        line-height: 35px;
                    }

                    .p2 {
                        font-size: 16px;
                        color: #a88590;
                        font-weight: normal;
                        margin-bottom: 20px;

                        line-height: 30px;
                    }

                    .p3 {
                        font-size: 16px;
                        color: #a88590;
                        font-weight: normal;
                        margin-bottom: 30px;

                        line-height: 30px;
                    }

                    .socials {
                        p {
                            font-size: 20px;
                            color: #a88590;
                            font-weight: normal;
                            margin-bottom: 15px;

                            line-height: 30px;
                        }

                        .svgs {
                            display: flex;
                            flex-direction: row;

                            div {
                                margin-right: 22px;
                            }
                        }
                    }
                }
            }

            .form {
                // max-height: fit-content;
                margin-top: 0;
                width: 95%;
                background-color: #f37b83;
            }
        }
    }
}

@media screen and (max-width: 818px) {
    .rootContact {
        // height: max-content;
        margin: 80px 0 0 58px;

        // display: flex;
        // flex-direction: column;

        .heading {
            font-weight: 700;

            // color: #f37b83;
            color: #f37b83;
            font-size: 30px;
            line-height: 42px;
            // margin-bottom: 50px;
        }

        .contentContainer {
            display: flex;
            flex-direction: column;
            .content {
                height: 420px;
                width: 100%;
                // background-color: red;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 50px;

                .info {
                    padding-right: 58px;

                    max-height: fit-content;
                    width: 100%;
                    // background-color: aliceblue;
                    .p1 {
                        font-size: 22px;
                        color: #a88590;
                        font-weight: normal;
                        margin-bottom: 20px;
                        line-height: 35px;
                    }

                    .p2 {
                        font-size: 16px;
                        color: #a88590;
                        font-weight: normal;
                        margin-bottom: 20px;

                        line-height: 30px;
                    }

                    .p3 {
                        font-size: 16px;
                        color: #a88590;
                        font-weight: normal;
                        margin-bottom: 30px;

                        line-height: 30px;
                    }

                    .socials {
                        p {
                            font-size: 20px;
                            color: #a88590;
                            font-weight: normal;
                            margin-bottom: 15px;

                            line-height: 30px;
                        }

                        .svgs {
                            display: flex;
                            flex-direction: row;

                            div {
                                margin-right: 22px;
                            }
                        }
                    }
                }
            }

            .form {
                // max-height: fit-content;
                margin-top: 0;
                width: 95%;
                background-color: #f37b83;
            }
        }
    }
}

@media screen and (max-width: 770px) {
    .rootContact {
        // height: max-content;
        margin: 80px 0 0 58px;

        // display: flex;
        // flex-direction: column;

        .heading {
            font-weight: 700;

            // color: #f37b83;
            color: #f37b83;
            font-size: 30px;
            line-height: 42px;
            // margin-bottom: 50px;
        }

        .contentContainer {
            display: flex;
            flex-direction: column;
            .content {
                height: fit-content;
                width: 100%;
                // background-color: red;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 50px;

                .info {
                    padding-right: 58px;

                    max-height: fit-content;
                    width: 100%;
                    // background-color: aliceblue;
                    .p1 {
                        font-size: 22px;
                        color: #a88590;
                        font-weight: normal;
                        margin-bottom: 20px;
                        line-height: 35px;
                    }

                    .p2 {
                        font-size: 16px;
                        color: #a88590;
                        font-weight: normal;
                        margin-bottom: 20px;

                        line-height: 30px;
                    }

                    .p3 {
                        font-size: 16px;
                        color: #a88590;
                        font-weight: normal;
                        margin-bottom: 30px;

                        line-height: 30px;
                    }

                    .socials {
                        padding-bottom: 40px;
                        p {
                            font-size: 20px;
                            color: #a88590;
                            font-weight: normal;
                            margin-bottom: 15px;

                            line-height: 30px;
                        }

                        .svgs {
                            display: flex;
                            flex-direction: row;

                            div {
                                margin-right: 22px;
                            }
                        }
                    }
                }
            }

            .form {
                // max-height: fit-content;
                margin-top: 0;
                width: 95%;
                background-color: #f37b83;
            }
        }
    }
}

@media screen and (max-width: 601px) {
    .rootContact {
        margin: 50px 0 0 40px;

        .heading {
            font-size: 28px;
            line-height: 42px;
        }

        .contentContainer {
            .content {
                height: fit-content;
                width: 100%;
                // background-color: red;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 30px;

                .info {
                    padding-right: 40px;

                    max-height: fit-content;
                    width: 100%;
                    // background-color: aliceblue;
                    .p1 {
                        font-size: 20px;
                        color: #a88590;
                        font-weight: normal;
                        margin-bottom: 20px;
                        line-height: 35px;
                        text-align: justify;
                    }

                    .p2 {
                        font-size: 14px;
                        color: #a88590;
                        font-weight: normal;
                        margin-bottom: 20px;

                        text-align: justify;
                        line-height: 30px;
                    }

                    .p3 {
                        font-size: 14px;
                        color: #a88590;
                        font-weight: normal;
                        margin-bottom: 30px;
                        text-align: justify;

                        line-height: 30px;
                    }

                    .socials {
                        padding-bottom: 40px;
                        p {
                            font-size: 20px;
                            color: #a88590;
                            font-weight: normal;
                            margin-bottom: 15px;

                            line-height: 30px;
                        }

                        .svgs {
                            display: flex;
                            flex-direction: row;

                            div {
                                margin-right: 22px;
                            }
                        }
                    }
                }
            }

            .form {
                // max-height: fit-content;
                margin-top: 0;
                width: 95%;
                background-color: #f37b83;
            }
        }
    }
}

@media screen and (max-width: 479px) {
    .rootContact {
        margin: 0px 0 0 0px;

        .heading {
            padding: 50px 40px 0 40px;

            font-size: 25px;
            line-height: 42px;
        }

        .contentContainer {
            .content {
                padding: 0px 0 0 40px;

                height: fit-content;
                width: 100%;
                // background-color: red;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 30px;

                .info {
                    padding-right: 40px;

                    max-height: fit-content;
                    width: 100%;
                    // background-color: aliceblue;
                    .p1 {
                        font-size: 18px;
                        color: #a88590;
                        font-weight: normal;
                        margin-bottom: 20px;
                        line-height: 35px;
                        text-align: justify;
                    }

                    .p2 {
                        font-size: 14px;
                        color: #a88590;
                        font-weight: normal;
                        margin-bottom: 20px;

                        text-align: justify;
                        line-height: 30px;
                    }

                    .p3 {
                        font-size: 14px;
                        color: #a88590;
                        font-weight: normal;
                        margin-bottom: 30px;
                        text-align: justify;

                        line-height: 30px;
                    }

                    .socials {
                        padding-bottom: 40px;
                        p {
                            font-size: 20px;
                            color: #a88590;
                            font-weight: normal;
                            margin-bottom: 15px;

                            line-height: 30px;
                        }

                        .svgs {
                            display: flex;
                            flex-direction: row;

                            div {
                                margin-right: 22px;
                            }
                        }
                    }
                }
            }

            .form {
                margin: 50px 20px 0 20px;

                // max-height: fit-content;
                margin-top: 0;
                width: 90%;
                background-color: #f37b83;
            }
        }
    }
}
