.rootContact {
    margin: 80px 0 0 58px;

    .heading {
        font-weight: 700;

        p {
            // color: #f37b83;
            color: #f37b83;
            font-size: 30px;
            line-height: 42px;
            // margin-bottom: 50px;
        }
    }

    .content {
        height: 500px;
        width: 100%;
        // background-color: red;
        display: flex;
        flex-direction: row;
        margin-top: 50px;

        .info {
            padding-right: 70px;

            height: 100%;
            width: 45%;
            // background-color: aliceblue;
            .p1 {
                font-size: 22px;
                color: #a88590;
                font-weight: normal;
                margin-bottom: 30px;
                line-height: 35px;
            }

            .p2 {
                font-size: 16px;
                color: #a88590;
                font-weight: normal;
                margin-bottom: 30px;

                line-height: 30px;
            }

            .p3 {
                font-size: 16px;
                color: #a88590;
                font-weight: normal;
                margin-bottom: 30px;

                line-height: 30px;
            }

            .socials {
                p {
                    font-size: 20px;
                    color: #a88590;
                    font-weight: normal;
                    margin-bottom: 10px;

                    line-height: 30px;
                }

                .svgs {
                    display: flex;
                    flex-direction: row;

                    div {
                        margin-right: 20px;
                    }
                }
            }
        }

        .formDesign {
            height: 100%;
            width: 50%;
            background-color: #f37b83;
        }
    }
}
