.rootHome {
    // height: 60vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .Title {
        // position: fixed;
        margin: 30px;
    }
}
