.rootHome {
    // padding-top: 110px;
    // height: 60vh;
    // margin-top: 7654vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .Title {
        padding-top: 90px;
        // position: fixed;
        margin: 30px;
    }
}
