.rootLanding {
    display: flex;
    flex-direction: row;
    // max-width: 100vw;
    width: 100%;
    overflow: hidden;

    .center {
        z-index: 1000;
        height: 100vh;
        width: 45%;
        background-color: #f9f0ff;

        .contentContainer {
            margin-left: 58px;
            margin-right: 58px;
            // margin-top: 50px;
            padding-top: 110px;
            overflow: hidden;

            // align-items: center;

            .tagline {
                // padding: 50px;
                font-family: "Poppins", sans-serif;
                font-size: 29px;

                color: #492d31;
                margin-bottom: 20px;
            }

            .fname {
                font-family: "Poppins", sans-serif;

                font-size: 90px;
                line-height: 94px;
                font-weight: 800;
                // color: #803ba0df;

                color: #f37b83;
                padding: 20px 0 0 0;
            }

            .lname {
                font-family: "Poppins", sans-serif;

                font-size: 90px;
                line-height: 94px;
                font-weight: 800;
                // color: #803ba0df;

                color: #f37b83;
                padding: 0px 0 20px 0;
            }

            .bio {
                font-family: "Poppins", sans-serif;
                font-size: 16px;
                line-height: 30px;
                font-weight: 400;
                color: #a88590;
                margin: 25px 0 30px 0;
                // align-items: center;
                justify-content: center;

                // text-align: justify;
            }

            .Ids {
                display: flex;
                flex-direction: row;
                margin-top: 50px;
                font-family: "Poppins", sans-serif;

                .linkedin {
                    font-size: 12px;
                    margin: 0 30px 0 0;
                    letter-spacing: 4px;
                    text-transform: uppercase;
                    cursor: pointer;
                    transition: color 0.3s linear;
                    text-decoration: none;
                    color: #492d31;

                    &:hover {
                        color: #acacac;
                    }
                }

                .twitter {
                    font-size: 12px;
                    margin: 0 30px 0 0;
                    letter-spacing: 4px;
                    text-transform: uppercase;
                    cursor: pointer;
                    transition: color 0.3s linear;
                    text-decoration: none;
                    color: #492d31;

                    &:hover {
                        color: #acacac;
                    }
                }

                .instagram {
                    font-size: 12px;
                    margin: 0 30px 0 0;
                    letter-spacing: 4px;
                    text-transform: uppercase;
                    cursor: pointer;
                    transition: color 0.3s linear;
                    text-decoration: none;
                    color: #492d31;

                    &:hover {
                        color: #acacac;
                    }
                }
            }
        }
    }

    .right {
        // height: 100vh;
        // width: 400px;
        border: none;
        // left: 50px;

        // border: ;
        min-height: 100vh;
        // width: 700px;
        width: 55%;
        background-image: url("https://media.licdn.com/dms/image/D4D03AQEuERGV8YqRrw/profile-displayphoto-shrink_400_400/0/1680588569235?e=1687996800&v=beta&t=Q6iwXHT0c271aJJ98CQ6wr91pB9M3JJ8HUg6xL-2OnI");
        background-size: cover;
        // background-color: red;
        // background-repeat: no-repeat;
    }
}

@media screen and (min-width: 1700px) {
    .rootLanding {
        display: flex;
        flex-direction: row;
        // max-width: 100vw;
        height: 100vh;
        width: 100%;
        overflow: hidden;

        .center {
            z-index: 1000;
            height: 100%;
            width: 45%;

            .contentContainer {
                margin-left: 58px;
                margin-right: 58px;
                // margin-top: 50px;
                padding-top: 110px;
                overflow: hidden;

                // align-items: center;

                .tagline {
                    // padding: 50px;
                    font-family: "Poppins", sans-serif;
                    font-size: 32px;
                    color: #492d31;
                    margin-bottom: 20px;
                }

                .fname {
                    font-family: "Poppins", sans-serif;

                    font-size: 100px;
                    line-height: 100px;
                    font-weight: 800;
                    color: #f37b83;
                    padding: 30px 0 0 0;
                }

                .lname {
                    font-family: "Poppins", sans-serif;

                    font-size: 100px;
                    line-height: 100px;
                    font-weight: 800;
                    color: #f37b83;
                    padding: 0px 0 20px 0;
                }

                .bio {
                    font-family: "Poppins", sans-serif;
                    font-size: 19px;
                    line-height: 35px;
                    font-weight: 400;
                    color: #a88590;
                    margin: 50px 0 30px 0;
                    // align-items: center;
                    justify-content: center;

                    // text-align: justify;
                }

                .Ids {
                    display: flex;
                    flex-direction: row;
                    margin-top: 100px;
                    font-family: "Poppins", sans-serif;

                    .linkedin {
                        font-size: 15px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                        text-transform: uppercase;
                        cursor: pointer;
                        transition: color 0.3s linear;
                        text-decoration: none;
                        color: #492d31;

                        &:hover {
                            color: #acacac;
                        }
                    }

                    .twitter {
                        font-size: 15px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                        text-transform: uppercase;
                        cursor: pointer;
                        transition: color 0.3s linear;
                        text-decoration: none;
                        color: #492d31;

                        &:hover {
                            color: #acacac;
                        }
                    }

                    .instagram {
                        font-size: 15px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                        text-transform: uppercase;
                        cursor: pointer;
                        transition: color 0.3s linear;
                        text-decoration: none;
                        color: #492d31;

                        &:hover {
                            color: #acacac;
                        }
                    }
                }
            }
        }

        .right {
            // height: 100vh;
            // width: 400px;
            border: none;
            // left: 50px;

            // border: ;
            height: 100%;
            // width: 700px;
            width: 55%;
            background-image: url("https://media.licdn.com/dms/image/D4D03AQEuERGV8YqRrw/profile-displayphoto-shrink_400_400/0/1680588569235?e=1687996800&v=beta&t=Q6iwXHT0c271aJJ98CQ6wr91pB9M3JJ8HUg6xL-2OnI");
            background-size: cover;
            // background-color: red;
            // background-repeat: no-repeat;
        }
    }
}

@media screen and (min-width: 1847px) {
    .rootLanding {
        display: flex;
        flex-direction: row;
        // max-width: 100vw;
        height: 100vh;
        width: 100%;
        overflow: hidden;

        .center {
            z-index: 1000;
            height: 100%;
            width: 45%;

            .contentContainer {
                margin-left: 58px;
                margin-right: 58px;
                // margin-top: 50px;
                padding-top: 110px;
                overflow: hidden;

                // align-items: center;

                .tagline {
                    // padding: 50px;
                    font-family: "Poppins", sans-serif;
                    font-size: 32px;
                    color: #492d31;
                    margin-bottom: 20px;
                }

                .fname {
                    font-family: "Poppins", sans-serif;

                    font-size: 100px;
                    line-height: 100px;
                    font-weight: 800;
                    color: #f37b83;
                    padding: 30px 0 0 0;
                }

                .lname {
                    font-family: "Poppins", sans-serif;

                    font-size: 100px;
                    line-height: 100px;
                    font-weight: 800;
                    color: #f37b83;
                    padding: 0px 0 20px 0;
                }

                .bio {
                    font-family: "Poppins", sans-serif;
                    font-size: 19px;
                    line-height: 35px;
                    font-weight: 400;
                    color: #a88590;
                    margin: 50px 0 30px 0;
                    // align-items: center;
                    justify-content: center;

                    // text-align: justify;
                }

                .Ids {
                    display: flex;
                    flex-direction: row;
                    margin-top: 100px;
                    font-family: "Poppins", sans-serif;

                    .linkedin {
                        font-size: 15px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                        text-transform: uppercase;
                        cursor: pointer;
                        transition: color 0.3s linear;
                        text-decoration: none;
                        color: #492d31;

                        &:hover {
                            color: #acacac;
                        }
                    }

                    .twitter {
                        font-size: 15px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                        text-transform: uppercase;
                        cursor: pointer;
                        transition: color 0.3s linear;
                        text-decoration: none;
                        color: #492d31;

                        &:hover {
                            color: #acacac;
                        }
                    }

                    .instagram {
                        font-size: 15px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                        text-transform: uppercase;
                        cursor: pointer;
                        transition: color 0.3s linear;
                        text-decoration: none;
                        color: #492d31;

                        &:hover {
                            color: #acacac;
                        }
                    }
                }
            }
        }

        .right {
            // height: 100vh;
            // width: 400px;
            border: none;
            // left: 50px;

            // border: ;
            height: 100%;
            // width: 700px;
            width: 55%;
            background-image: url("https://media.licdn.com/dms/image/D4D03AQEuERGV8YqRrw/profile-displayphoto-shrink_400_400/0/1680588569235?e=1687996800&v=beta&t=Q6iwXHT0c271aJJ98CQ6wr91pB9M3JJ8HUg6xL-2OnI");
            background-size: cover;
            // background-color: red;
            // background-repeat: no-repeat;
        }
    }
}

@media screen and (max-width: 1512px) {
    .rootLanding {
        display: flex;
        flex-direction: row;
        // max-width: 100vw;
        width: 100%;

        .center {
            z-index: 1000;
            min-height: fit-content;
            width: 45%;
            background-color: #f9f0ff;

            .contentContainer {
                margin-left: 40px;
                margin-right: 40px;
                // margin-top: 50px;
                padding-top: 110px;
                overflow: hidden;

                // align-items: center;

                .tagline {
                    // padding: 50px;
                    font-family: "Poppins", sans-serif;
                    font-size: 29px;
                    color: #492d31;
                    margin-bottom: 0px;
                }

                .fname {
                    font-family: "Poppins", sans-serif;

                    font-size: 85px;
                    line-height: 94px;
                    font-weight: 800;
                    color: #f37b83;
                    padding: 20px 0 0 0;
                }

                .lname {
                    font-family: "Poppins", sans-serif;

                    font-size: 85px;
                    line-height: 94px;
                    font-weight: 800;
                    color: #f37b83;
                    padding: 0px 0 20px 0;
                }

                .bio {
                    width: 90%;
                    font-family: "Poppins", sans-serif;
                    font-size: 15px;
                    line-height: 28px;
                    font-weight: 400;
                    color: #a88590;
                    margin: 20px 0 30px 0;
                    // align-items: center;
                    justify-content: center;

                    // text-align: justify;
                }

                .Ids {
                    display: flex;
                    flex-direction: row;
                    margin-top: 35px;

                    .linkedin {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }

                    .twitter {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }

                    .instagram {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }
                }
            }
        }

        .right {
            // height: 100vh;
            // width: 400px;
            border: none;
            // left: 50px;

            // border: ;
            height: 100vh;
            // width: 700px;
            width: 55%;
            background-image: url("https://media.licdn.com/dms/image/D4D03AQEuERGV8YqRrw/profile-displayphoto-shrink_400_400/0/1680588569235?e=1687996800&v=beta&t=Q6iwXHT0c271aJJ98CQ6wr91pB9M3JJ8HUg6xL-2OnI");
            background-size: cover;
            // background-color: red;
            // background-repeat: no-repeat;
        }
    }
}

@media screen and (max-width: 1310px) {
    .rootLanding {
        display: flex;
        flex-direction: row;
        // max-width: 100vw;
        width: 100%;

        .center {
            z-index: 1000;
            min-height: fit-content;
            width: 45%;
            background-color: #f9f0ff;

            .contentContainer {
                margin-left: 40px;
                margin-right: 10px;
                // margin-top: 50px;
                padding-top: 110px;
                overflow: hidden;

                // align-items: center;

                .tagline {
                    // padding: 50px;
                    font-family: "Poppins", sans-serif;
                    font-size: 22px;
                    color: #492d31;
                    margin-bottom: 0px;
                }

                .fname {
                    font-family: "Poppins", sans-serif;

                    font-size: 75px;
                    line-height: 94px;
                    font-weight: 800;
                    color: #f37b83;
                    padding: 20px 0 0 0;
                }

                .lname {
                    font-family: "Poppins", sans-serif;

                    font-size: 75px;
                    line-height: 94px;
                    font-weight: 800;
                    color: #f37b83;
                    padding: 0px 0 20px 0;
                }

                .bio {
                    width: 90%;
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    line-height: 28px;
                    font-weight: 400;
                    color: #a88590;
                    margin: 20px 0 30px 0;
                    // align-items: center;
                    justify-content: center;

                    // text-align: justify;
                }

                .Ids {
                    display: flex;
                    flex-direction: row;
                    margin-top: 35px;

                    .linkedin {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }

                    .twitter {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }

                    .instagram {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }
                }
            }
        }

        .right {
            // height: 100vh;
            // width: 400px;
            border: none;
            // left: 50px;

            // border: ;
            height: 100vh;
            // width: 700px;
            width: 55%;
            background-image: url("https://media.licdn.com/dms/image/D4D03AQEuERGV8YqRrw/profile-displayphoto-shrink_400_400/0/1680588569235?e=1687996800&v=beta&t=Q6iwXHT0c271aJJ98CQ6wr91pB9M3JJ8HUg6xL-2OnI");
            background-size: cover;
            // background-color: red;
            // background-repeat: no-repeat;
        }
    }
}

@media screen and (max-width: 1246px) {
    .rootLanding {
        display: flex;
        flex-direction: row;
        // max-width: 100vw;
        width: 100%;

        .center {
            z-index: 1000;
            min-height: fit-content;
            width: 45%;
            background-color: #f9f0ff;

            .contentContainer {
                margin-left: 40px;
                margin-right: 10px;
                // margin-top: 50px;
                padding-top: 110px;
                overflow: hidden;

                // align-items: center;

                .tagline {
                    // padding: 50px;
                    font-family: "Poppins", sans-serif;
                    font-size: 22px;
                    color: #492d31;
                    margin-bottom: 0px;
                }

                .fname {
                    font-family: "Poppins", sans-serif;

                    font-size: 75px;
                    line-height: 94px;
                    font-weight: 800;
                    color: #f37b83;
                    padding: 20px 0 0 0;
                }

                .lname {
                    font-family: "Poppins", sans-serif;

                    font-size: 75px;
                    line-height: 94px;
                    font-weight: 800;
                    color: #f37b83;
                    padding: 0px 0 20px 0;
                }

                .bio {
                    width: 90%;
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    line-height: 28px;
                    font-weight: 400;
                    color: #a88590;
                    margin: 20px 0 30px 0;
                    // align-items: center;
                    justify-content: center;

                    // text-align: justify;
                }

                .Ids {
                    display: flex;
                    flex-direction: row;
                    margin-top: 35px;

                    .linkedin {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }

                    .twitter {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }

                    .instagram {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }
                }
            }
        }

        .right {
            // height: 100vh;
            // width: 400px;
            border: none;
            // left: 50px;

            // border: ;
            height: 100vh;
            // width: 700px;
            width: 55%;
            background-image: url("https://media.licdn.com/dms/image/D4D03AQEuERGV8YqRrw/profile-displayphoto-shrink_400_400/0/1680588569235?e=1687996800&v=beta&t=Q6iwXHT0c271aJJ98CQ6wr91pB9M3JJ8HUg6xL-2OnI");
            background-size: cover;
            // background-color: red;
            // background-repeat: no-repeat;
        }
    }
}

@media screen and (max-width: 1200px) {
    .rootLanding {
        .center {
            z-index: 1000;
            min-height: fit-content;
            width: 45%;
            background-color: #f9f0ff;

            .contentContainer {
                margin-left: 40px;
                margin-right: 10px;
                // margin-top: 50px;
                padding-top: 110px;
                overflow: hidden;

                // align-items: center;

                .tagline {
                    // padding: 50px;
                    font-family: "Poppins", sans-serif;
                    font-size: 22px;
                    color: #492d31;
                    margin-bottom: 0px;
                }

                .fname {
                    font-family: "Poppins", sans-serif;

                    font-size: 75px;
                    line-height: 94px;
                    font-weight: 800;
                    color: #f37b83;
                    padding: 20px 0 0 0;
                }

                .lname {
                    font-family: "Poppins", sans-serif;

                    font-size: 75px;
                    line-height: 94px;
                    font-weight: 800;
                    color: #f37b83;
                    padding: 0px 0 20px 0;
                }

                .bio {
                    width: 90%;
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    line-height: 28px;
                    font-weight: 400;
                    color: #a88590;
                    margin: 20px 0 30px 0;
                    // align-items: center;
                    justify-content: center;

                    // text-align: justify;
                }

                .Ids {
                    display: flex;
                    flex-direction: row;
                    margin-top: 70px;

                    .linkedin {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }

                    .twitter {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }

                    .instagram {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }
                }
            }
        }

        .right {
            // height: 100vh;
            // width: 400px;
            border: none;
            // left: 50px;

            // border: ;
            height: 100vh;
            // width: 700px;
            width: 55%;
            background-image: url("https://media.licdn.com/dms/image/D4D03AQEuERGV8YqRrw/profile-displayphoto-shrink_400_400/0/1680588569235?e=1687996800&v=beta&t=Q6iwXHT0c271aJJ98CQ6wr91pB9M3JJ8HUg6xL-2OnI");
            background-size: cover;
            // background-color: red;
            // background-repeat: no-repeat;
        }
    }
}

@media screen and (max-width: 1028px) {
    .rootLanding {
        .center {
            z-index: 1000;
            min-height: fit-content;
            width: 50%;
            background-color: #f9f0ff;

            .contentContainer {
                margin-left: 40px;
                margin-right: 10px;
                // margin-top: 50px;
                padding-top: 110px;
                overflow: hidden;

                // align-items: center;

                .tagline {
                    // padding: 50px;
                    font-family: "Poppins", sans-serif;
                    font-size: 25px;
                    color: #492d31;
                    margin-bottom: 0px;
                }

                .fname {
                    font-family: "Poppins", sans-serif;

                    font-size: 80px;
                    line-height: 94px;
                    font-weight: 800;
                    color: #f37b83;
                    padding: 20px 0 0 0;
                }

                .lname {
                    font-family: "Poppins", sans-serif;

                    font-size: 80px;
                    line-height: 94px;
                    font-weight: 800;
                    color: #f37b83;
                    padding: 0px 0 20px 0;
                }

                .bio {
                    width: 90%;
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    line-height: 28px;
                    font-weight: 400;
                    color: #a88590;
                    margin: 20px 0 30px 0;
                    // align-items: center;
                    justify-content: center;

                    // text-align: justify;
                }

                .Ids {
                    display: flex;
                    flex-direction: row;
                    margin-top: 50px;
                    padding-bottom: 55px;
                    .linkedin {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }

                    .twitter {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }

                    .instagram {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }
                }
            }
        }

        .right {
            // height: 100vh;
            // width: 400px;
            border: none;
            // left: 50px;

            // border: ;
            height: inherit;
            // width: 700px;
            width: 50%;
            background-image: url("https://media.licdn.com/dms/image/D4D03AQEuERGV8YqRrw/profile-displayphoto-shrink_400_400/0/1680588569235?e=1687996800&v=beta&t=Q6iwXHT0c271aJJ98CQ6wr91pB9M3JJ8HUg6xL-2OnI");
            background-size: cover;
            // background-color: red;
            // background-repeat: no-repeat;
        }
    }
}

@media screen and (max-width: 837px) {
    .rootLanding {
        .center {
            z-index: 1000;
            min-height: fit-content;
            width: 60%;
            background-color: #f9f0ff;

            .contentContainer {
                margin-left: 40px;
                margin-right: 10px;
                // margin-top: 50px;
                padding-top: 110px;
                overflow: hidden;

                // align-items: center;

                .tagline {
                    // padding: 50px;
                    font-family: "Poppins", sans-serif;
                    font-size: 25px;
                    color: #492d31;
                    margin-bottom: 0px;
                }

                .fname {
                    font-family: "Poppins", sans-serif;

                    font-size: 80px;
                    line-height: 94px;
                    font-weight: 800;
                    color: #f37b83;
                    padding: 20px 0 0 0;
                }

                .lname {
                    font-family: "Poppins", sans-serif;

                    font-size: 80px;
                    line-height: 94px;
                    font-weight: 800;
                    color: #f37b83;
                    padding: 0px 0 20px 0;
                }

                .bio {
                    width: 90%;
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    line-height: 28px;
                    font-weight: 400;
                    color: #a88590;
                    margin: 20px 0 30px 0;
                    // align-items: center;
                    justify-content: center;

                    // text-align: justify;
                }

                .Ids {
                    display: flex;
                    flex-direction: row;
                    margin-top: 50px;
                    padding-bottom: 55px;
                    .linkedin {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }

                    .twitter {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }

                    .instagram {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }
                }
            }
        }

        .right {
            // height: 100vh;
            // width: 400px;
            border: none;
            // left: 50px;

            // border: ;
            height: inherit;
            // width: 700px;
            width: 50%;
            background-image: url("https://media.licdn.com/dms/image/D4D03AQEuERGV8YqRrw/profile-displayphoto-shrink_400_400/0/1680588569235?e=1687996800&v=beta&t=Q6iwXHT0c271aJJ98CQ6wr91pB9M3JJ8HUg6xL-2OnI");
            background-size: cover;
            // background-color: red;
            // background-repeat: no-repeat;
        }
    }
}

@media screen and (max-width: 770px) {
    .rootLanding {
        .center {
            padding-top: 20px;
            z-index: 1000;
            height: fit-content;
            width: 100%;
            background-color: #f9f0ff;

            .contentContainer {
                margin-left: 40px;
                margin-right: 10px;
                // margin-top: 50px;
                padding-top: 110px;
                overflow: hidden;

                // align-items: center;

                .tagline {
                    // padding: 50px;
                    font-family: "Poppins", sans-serif;
                    font-size: 25px;
                    color: #492d31;
                    margin-bottom: 0px;
                }

                .fname {
                    font-family: "Poppins", sans-serif;

                    font-size: 80px;
                    line-height: 94px;
                    font-weight: 800;
                    color: #f37b83;
                    padding: 20px 0 0 0;
                }

                .lname {
                    font-family: "Poppins", sans-serif;

                    font-size: 80px;
                    line-height: 94px;
                    font-weight: 800;
                    color: #f37b83;
                    padding: 0px 0 20px 0;
                }

                .bio {
                    width: 90%;
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    line-height: 28px;
                    font-weight: 400;
                    color: #a88590;
                    margin: 20px 0 30px 0;
                    // align-items: center;
                    justify-content: center;

                    // text-align: justify;
                }

                .Ids {
                    display: flex;
                    flex-direction: row;
                    margin-top: 70px;
                    padding-bottom: 50px;

                    .linkedin {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }

                    .twitter {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }

                    .instagram {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }
                }
            }
        }

        .right {
            display: none;
            // display: none;
            // height: 100vh;
            // width: 400px;
            border: none;
            // left: 50px;

            // border: ;
            height: 100vh;
            // width: 700px;
            width: 0;
            background-image: url("https://media.licdn.com/dms/image/D4D03AQEuERGV8YqRrw/profile-displayphoto-shrink_400_400/0/1680588569235?e=1687996800&v=beta&t=Q6iwXHT0c271aJJ98CQ6wr91pB9M3JJ8HUg6xL-2OnI");
            background-size: cover;
            // background-color: red;
            // background-repeat: no-repeat;
        }
    }
}

@media screen and (max-width: 602px) {
    .rootLanding {
        .center {
            padding-top: 0px;
            z-index: 1000;
            height: fit-content;
            width: 100%;
            background-color: #f9f0ff;

            .contentContainer {
                margin-left: 40px;
                margin-right: 10px;
                // margin-top: 50px;
                padding-top: 110px;
                overflow: hidden;

                // align-items: center;

                .tagline {
                    // padding: 50px;
                    font-family: "Poppins", sans-serif;
                    font-size: 25px;
                    color: #492d31;
                    margin-bottom: 0px;
                }

                .fname {
                    font-family: "Poppins", sans-serif;

                    font-size: 80px;
                    line-height: 94px;
                    font-weight: 800;
                    color: #f37b83;
                    padding: 20px 0 0 0;
                }

                .lname {
                    font-family: "Poppins", sans-serif;

                    font-size: 80px;
                    line-height: 94px;
                    font-weight: 800;
                    color: #f37b83;
                    padding: 0px 0 20px 0;
                }

                .bio {
                    width: 90%;
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    line-height: 28px;
                    font-weight: 400;
                    color: #a88590;
                    margin: 20px 0 30px 0;
                    // align-items: center;
                    justify-content: center;

                    // text-align: justify;
                }

                .Ids {
                    display: flex;
                    flex-direction: row;
                    margin-top: 50px;

                    .linkedin {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }

                    .twitter {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }

                    .instagram {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }
                }
            }
        }

        .right {
            // display: none;
            // height: 100vh;
            // width: 400px;
            border: none;
            // left: 50px;

            // border: ;
            height: 100vh;
            // width: 700px;
            width: 0;
            background-image: url("https://media.licdn.com/dms/image/D4D03AQEuERGV8YqRrw/profile-displayphoto-shrink_400_400/0/1680588569235?e=1687996800&v=beta&t=Q6iwXHT0c271aJJ98CQ6wr91pB9M3JJ8HUg6xL-2OnI");
            background-size: cover;
            // background-color: red;
            // background-repeat: no-repeat;
        }
    }
}

@media screen and (max-width: 484px) {
    .rootLanding {
        .center {
            padding-top: 0px;
            z-index: 1000;
            height: 97vh;
            width: 100%;
            background-color: #f9f0ff;

            .contentContainer {
                margin-left: 40px;
                margin-right: 10px;
                // margin-top: 50px;
                padding-top: 110px;
                overflow: hidden;

                // align-items: center;

                .tagline {
                    // padding: 50px;
                    font-family: "Poppins", sans-serif;
                    font-size: 25px;
                    color: #492d31;
                    margin-bottom: 0px;
                }

                .fname {
                    font-family: "Poppins", sans-serif;

                    font-size: 80px;
                    line-height: 94px;
                    font-weight: 800;
                    color: #f37b83;
                    padding: 20px 0 0 0;
                }

                .lname {
                    font-family: "Poppins", sans-serif;

                    font-size: 80px;
                    line-height: 94px;
                    font-weight: 800;
                    color: #f37b83;
                    padding: 0px 0 20px 0;
                }

                .bio {
                    width: 90%;
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    line-height: 28px;
                    font-weight: 400;
                    color: #a88590;
                    margin: 10px 0 0 0;
                    // align-items: center;
                    justify-content: center;

                    // text-align: justify;
                }

                .Ids {
                    display: flex;
                    flex-direction: row;
                    margin-top: 50px;

                    .linkedin {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }

                    .twitter {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }

                    .instagram {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }
                }
            }
        }

        .right {
            display: none;
            // height: 100vh;
            // width: 400px;
            border: none;
            // left: 50px;

            // border: ;
            height: 100vh;
            // width: 700px;
            width: 0;
            background-image: url("https://media.licdn.com/dms/image/D4D03AQEuERGV8YqRrw/profile-displayphoto-shrink_400_400/0/1680588569235?e=1687996800&v=beta&t=Q6iwXHT0c271aJJ98CQ6wr91pB9M3JJ8HUg6xL-2OnI");
            background-size: cover;
            // background-color: red;
            // background-repeat: no-repeat;
        }
    }
}

@media screen and (max-width: 418px) {
    .rootLanding {
        .center {
            padding-top: 30px;
            z-index: 1000;
            height: fit-content;

            width: 100%;
            background-color: #f9f0ff;
            // background-color: red;

            .contentContainer {
                margin-left: 40px;
                margin-right: 10px;
                // margin-top: 50px;
                padding-top: 90px;
                overflow: hidden;

                // align-items: center;

                .tagline {
                    // padding: 50px;
                    font-family: "Poppins", sans-serif;
                    font-size: 25px;
                    color: #492d31;
                    margin-bottom: 00px;
                }

                .fname {
                    font-family: "Poppins", sans-serif;

                    font-size: 70px;
                    line-height: 90px;
                    font-weight: 800;
                    color: #f37b83;
                    padding: 20px 0 0 0;
                }

                .lname {
                    font-family: "Poppins", sans-serif;

                    font-size: 70px;
                    line-height: 90px;
                    font-weight: 800;
                    color: #f37b83;
                    padding: 0px 0 20px 0;
                }

                .bio {
                    width: 90%;
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    line-height: 28px;
                    font-weight: 400;
                    color: #a88590;
                    margin: 10px 0 50px 0;
                    // align-items: center;
                    justify-content: center;

                    // text-align: justify;
                }

                .Ids {
                    display: flex;
                    flex-direction: row;
                    margin-top: 50px;
                    padding-bottom: 80px;

                    .linkedin {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }

                    .twitter {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }

                    .instagram {
                        font-size: 12px;
                        margin: 0 30px 0 0;
                        letter-spacing: 4px;
                    }
                }
            }
        }

        .right {
            display: none;
            // display: none;
            // height: 100vh;
            // width: 400px;
            border: none;
            // left: 50px;

            // border: ;
            height: 100vh;
            // width: 700px;
            width: 0;
            background-image: url("https://media.licdn.com/dms/image/D4D03AQEuERGV8YqRrw/profile-displayphoto-shrink_400_400/0/1680588569235?e=1687996800&v=beta&t=Q6iwXHT0c271aJJ98CQ6wr91pB9M3JJ8HUg6xL-2OnI");
            background-size: cover;
            // background-color: red;
            // background-repeat: no-repeat;
        }
    }
}

@media screen and (max-width: 401px) {
    .rootLanding {
        .center {
            padding-top: 0px;
            z-index: 1000;
            height: fit-content;

            width: 100%;
            background-color: #f9f0ff;

            .contentContainer {
                margin-left: 40px;
                margin-right: 10px;
                // margin-top: 50px;
                padding-top: 100px;
                overflow: hidden;

                // align-items: center;

                .tagline {
                    // padding: 50px;
                    font-family: "Poppins", sans-serif;
                    font-size: 22px;
                    color: #492d31;
                    margin-bottom: 0px;
                }

                .fname {
                    font-family: "Poppins", sans-serif;

                    font-size: 65px;
                    line-height: 80px;
                    font-weight: 800;
                    color: #f37b83;
                    padding: 20px 0 0 0;
                }

                .lname {
                    font-family: "Poppins", sans-serif;

                    font-size: 65px;
                    line-height: 80px;
                    font-weight: 800;
                    color: #f37b83;
                    padding: 0px 0 20px 0;
                }

                .bio {
                    width: 90%;
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                    line-height: 28px;
                    font-weight: 400;
                    color: #a88590;
                    margin: 10px 0 0 0;
                    // align-items: center;
                    justify-content: center;

                    // text-align: justify;
                }

                .Ids {
                    display: flex;
                    flex-direction: row;
                    margin-top: 50px;
                    padding-bottom: 40px;

                    .linkedin {
                        font-size: 12px;
                        margin: 0 14px 0 0;
                        letter-spacing: 2px;
                    }

                    .twitter {
                        font-size: 12px;
                        margin: 0 14px 0 0;
                        letter-spacing: 2px;
                    }

                    .instagram {
                        font-size: 12px;
                        margin: 0 14px 0 0;
                        letter-spacing: 2px;
                    }
                }
            }
        }

        .right {
            display: none;
            // display: none;
            // height: 100vh;
            // width: 400px;
            border: none;
            // left: 50px;

            // border: ;
            height: 100vh;
            // width: 700px;
            width: 0;
            background-image: url("https://media.licdn.com/dms/image/D4D03AQEuERGV8YqRrw/profile-displayphoto-shrink_400_400/0/1680588569235?e=1687996800&v=beta&t=Q6iwXHT0c271aJJ98CQ6wr91pB9M3JJ8HUg6xL-2OnI");
            background-size: cover;
            // background-color: red;
            // background-repeat: no-repeat;
        }
    }
}
