.rootLeftContent {
    // position: fixed;
    height: 100vh;
    width: 320px;
    background-color: #362b2e;
    // background-color: #2e4057;
    // background-color: #837bf3;

    display: flex;
    flex-direction: row;

    .rootMenu {
        height: 100vh;
        width: 320px;
        background-color: #f37b83;

        position: relative;

        // transition: all 0.2s linear;
        transition: all 0.5s ease;

        left: -320px;

        .Menu {
            height: 100%;
            width: 100%;
            display: flex;
            // justify-content: center;
            align-items: center;
            margin-left: 60px;
            .options {
                // height: 10px;
                width: fit-content;

                .optionsLink {
                    text-decoration: none;

                    p {
                        // font-size: 25px;
                        // // line-height: 70px;
                        // color: white;
                        // text-decoration: none;
                        color: inherit;

                        color: #ffffff;
                        padding: 5px 0;
                        font-size: 28px;
                        line-height: 50px;
                        font-weight: 700;
                        transition: all 0.3s ease;
                        cursor: pointer;

                        &:hover {
                            // transform: rotate(5deg);
                            color: #f9f0ff;
                            transform: scale(1.03);
                        }
                    }
                }

                // .line {
                //     width: 75%;
                //     height: 2px;
                //     background-color: #f37b83;
                //     margin-bottom: 40px;
                //     transition: all 1s ease;
                // }
            }
        }
    }

    .slidingMenu {
        z-index: 100;

        &.activerootMenu {
            position: relative;

            // z-index: 1;

            height: 100vh;
            width: 320px;
            background-color: #f37b83;
            transition: all 0.5s ease;

            left: 0px;
        }
    }

    .safe {
        z-index: 1000;

        position: absolute;
        top: 10px;
        left: 10px;

        height: 35px;
        width: 50px;
        // border: 1px solid red;
        padding-top: 10px;
        margin-top: 30px;
        margin-left: 30px;
    }

    .slidingMenu {
        z-index: 100;

        &.activerootMenu {
            position: relative;

            height: 100vh;
            width: 320px;
            background-color: #f37b83;
            transition: all 0.5s ease;

            left: 0px;

            .Menu {
                height: 100%;
                width: 100%;
                display: flex;
                // justify-content: center;
                align-items: center;
                margin-left: 60px;
                .options {
                    // height: 10px;
                    width: fit-content;

                    .optionsLink {
                        text-decoration: none;

                        p {
                            // font-size: 25px;
                            // // line-height: 70px;
                            // color: white;

                            color: #ffffff;
                            padding: 5px 0;
                            font-size: 28px;
                            line-height: 50px;
                            font-weight: 700;
                            transition: all 0.3s ease;
                            cursor: pointer;

                            &:hover {
                                // transform: rotate(5deg);
                                // color: #f9f0ff;
                                transform: scale(1.03);
                            }
                        }

                        // .line {
                        //     width: 75%;
                        //     height: 2px;
                        //     background-color: #f37b83;
                        //     margin-bottom: 40px;
                        //     transition: all 1s ease;
                        // }
                    }
                }
            }
        }
    }

    .alwaysDisplay {
        z-index: 10;
        position: fixed;

        .content {
            margin-top: 250px;
            padding-left: 55px;

            .info {
                vertical-align: baseline;
                margin-bottom: 30px;
                .heading {
                    line-height: 12px;
                    font-size: 11px;
                    color: #f37b83;
                    letter-spacing: 5px;
                    text-transform: uppercase;
                    font-family: Poppins, sans-serif;
                    font-weight: 500;
                }

                .answer {
                    line-height: 30px;
                    color: #faefff;
                    font-family: "Poppins", sans-serif;
                    font-size: 15px;
                    font-weight: 500;
                }
            }
        }

        .sign {
            padding: 10px 0 30px 55px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .rootLeftContent {
        // position: fixed;
        height: 100vh;
        width: 100px;

        .rootMenu {
            height: 100vh;
            width: 320px;
            background-color: #f37b83;

            position: relative;

            // transition: all 0.2s linear;
            transition: all 0.5s ease;

            left: -320px;

            .Menu {
                height: 100%;
                width: 320px;
                display: flex;
                // justify-content: center;
                align-items: center;
                margin-left: 60px;
                .options {
                    // height: 10px;
                    width: fit-content;

                    .optionsLink {
                        text-decoration: none;

                        p {
                            // font-size: 25px;
                            // // line-height: 70px;
                            // color: white;
                            // text-decoration: none;
                            color: inherit;

                            color: #ffffff;
                            padding: 5px 0;
                            font-size: 28px;
                            line-height: 50px;
                            font-weight: 700;
                            transition: all 0.3s ease;
                            cursor: pointer;

                            &:hover {
                                // transform: rotate(5deg);
                                color: #f9f0ff;
                                transform: scale(1.03);
                            }
                        }
                    }

                    // .line {
                    //     width: 75%;
                    //     height: 2px;
                    //     background-color: #f37b83;
                    //     margin-bottom: 40px;
                    //     transition: all 1s ease;
                    // }
                }
            }
        }

        .slidingMenu {
            z-index: 100;

            &.activerootMenu {
            }
        }

        .safe {
            z-index: 1000;

            position: absolute;
            top: 0px;
            left: 0px;

            height: 35px;
            width: 50px;
            // border: 1px solid red;
            padding-top: 10px;
            margin-top: 30px;
            margin-left: 30px;
        }

        .slidingMenu {
            z-index: 100;

            &.activerootMenu {
                .Menu {
                    height: 100%;
                    width: 320px;
                    display: flex;
                    // justify-content: center;
                    align-items: center;
                    margin-left: 60px;
                    .options {
                        // height: 10px;
                        width: fit-content;

                        .optionsLink {
                            text-decoration: none;

                            p {
                                // font-size: 25px;
                                // // line-height: 70px;
                                // color: white;

                                color: #ffffff;
                                padding: 5px 0;
                                font-size: 28px;
                                line-height: 50px;
                                font-weight: 700;
                                transition: all 0.3s ease;
                                cursor: pointer;

                                &:hover {
                                    // transform: rotate(5deg);
                                    // color: #f9f0ff;
                                    transform: scale(1.03);
                                }
                            }

                            // .line {
                            //     width: 75%;
                            //     height: 2px;
                            //     background-color: #f37b83;
                            //     margin-bottom: 40px;
                            //     transition: all 1s ease;
                            // }
                        }
                    }
                }
            }
        }

        .alwaysDisplay {
            display: none;
        }
    }
}

@media screen and (max-width: 937px) {
    .rootLeftContent {
        position: fixed;
        height: 55px;
        width: 100vw;
        border-bottom: 1px solid #f9f0ff;

        .rootMenu {
            height: 100vh;
            width: 320px;
            background-color: #f37b83;

            position: relative;

            // transition: all 0.2s linear;
            transition: all 0.5s ease;

            left: -320px;

            .Menu {
                height: 100%;
                width: 320px;
                display: flex;
                // justify-content: center;
                align-items: center;
                margin-left: 60px;
                .options {
                    // height: 10px;
                    width: fit-content;

                    .optionsLink {
                        text-decoration: none;

                        p {
                            // font-size: 25px;
                            // // line-height: 70px;
                            // color: white;
                            // text-decoration: none;
                            color: inherit;

                            color: #ffffff;
                            padding: 5px 0;
                            font-size: 28px;
                            line-height: 50px;
                            font-weight: 700;
                            transition: all 0.3s ease;
                            cursor: pointer;

                            &:hover {
                                // transform: rotate(5deg);
                                color: #f9f0ff;
                                transform: scale(1.03);
                            }
                        }
                    }

                    // .line {
                    //     width: 75%;
                    //     height: 2px;
                    //     background-color: #f37b83;
                    //     margin-bottom: 40px;
                    //     transition: all 1s ease;
                    // }
                }
            }
        }

        .slidingMenu {
            z-index: 100;

            &.activerootMenu {
            }
        }

        .safe {
            z-index: 1000;

            position: absolute;
            top: 0px;
            left: 0px;

            height: 35px;
            width: 50px;
            // border: 1px solid red;
            padding-top: 0px;
            margin-top: 30px;
            margin-left: 30px;
        }

        .slidingMenu {
            z-index: 100;

            &.activerootMenu {
                .Menu {
                    height: 100%;
                    width: 320px;
                    display: flex;
                    // justify-content: center;
                    align-items: center;
                    margin-left: 60px;
                    .options {
                        // height: 10px;
                        width: fit-content;

                        .optionsLink {
                            text-decoration: none;

                            p {
                                // font-size: 25px;
                                // // line-height: 70px;
                                // color: white;

                                color: #ffffff;
                                padding: 5px 0;
                                font-size: 28px;
                                line-height: 50px;
                                font-weight: 700;
                                transition: all 0.3s ease;
                                cursor: pointer;

                                &:hover {
                                    // transform: rotate(5deg);
                                    // color: #f9f0ff;
                                    transform: scale(1.03);
                                }
                            }

                            // .line {
                            //     width: 75%;
                            //     height: 2px;
                            //     background-color: #f37b83;
                            //     margin-bottom: 40px;
                            //     transition: all 1s ease;
                            // }
                        }
                    }
                }
            }
        }

        .alwaysDisplay {
        }
    }
}
