.rootPortfolio {
    margin: auto;

    display: flex;
    flex-direction: row;
    background-color: #302729;
    // max-width: 99vw;
    padding-bottom: 100px;

    .LeftContent {
        position: fixed;
    }

    .content {
        position: relative;
        left: 320px;
        width: calc(98vw - 320px);
    }
}
