.rootProjects {
    max-width: 100%;
    // height: 100vh;
    // background-color: aqua;
    height: fit-content;

    margin: 80px 0 0 58px;

    .heading {
        width: 50%;
        p {
            // color: #f37b83;
            color: #f37b83;
            font-size: 35px;
            font-weight: 700;
            line-height: 42px;
            margin-bottom: 30px;
        }
    }

    .content {
        width: 100%;
        .cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding-right: 20px;

            .projectCard {
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }

                * {
                    text-decoration: none;
                }

                height: 320px;
                width: 320px;
                background-color: #362a2e;
                // color: #a88590;
                // padding-right: 20px;
                border-radius: 10px;
                margin-right: 25px;
                margin-bottom: 25px;

                cursor: pointer;
                transition: all 0.2s linear;

                .logo {
                    height: 60px;
                    width: 80%;
                    // background-color: red;
                    margin: auto;
                    margin-bottom: 10px;
                    padding-top: 30px;
                }

                .Cardcontent {
                    width: 80%;
                    margin: auto;
                    padding-top: 45px;

                    .title {
                        font-size: 28px;
                        line-height: 42px;
                        color: #f37b83;
                        font-weight: 700;
                    }

                    .desc {
                        font-family: "Poppins", sans-serif;
                        font-size: 15px;
                        line-height: 28px;
                        font-weight: 400;
                        color: #a88590;
                        margin-top: 10px;
                        // text-align: justify;
                    }

                    .links {
                        // margin-top: 12px;
                        // display: flex;
                        // flex-direction: row;

                        p {
                            font-size: 12px;
                            color: #a88590;
                            margin-right: 20px;
                        }
                    }
                }
                &:hover {
                    transform: scale(1.04);
                }
            }
        }
    }
}

@media screen and (max-width: 1700px) {
    .rootProjects {
        .heading {
            p {
                font-size: 30px;
            }
        }
    }
}

@media screen and (max-width: 1433px) {
    .rootProjects {
        .content {
            .cards {
                .projectCard {
                    height: 330px;
                    width: 420px;
                }
            }
        }
    }
}

@media screen and (max-width: 1288px) {
    .rootProjects {
        .content {
            .cards {
                .projectCard {
                    height: 330px;
                    width: 350px;
                }
            }
        }
    }
}

@media screen and (max-width: 1201px) {
    .rootProjects {
        .content {
            .cards {
                .projectCard {
                    height: 330px;
                    width: 440px;
                }
            }
        }
    }
}

@media screen and (max-width: 1108px) {
    .rootProjects {
        .content {
            .cards {
                .projectCard {
                    height: 330px;
                    width: 400px;
                }
            }
        }
    }
}

@media screen and (max-width: 1028px) {
    .rootProjects {
        .content {
            .cards {
                .projectCard {
                    height: 330px;
                    width: 350px;
                }
            }
        }
    }
}

@media screen and (max-width: 937px) {
    .rootProjects {
        .content {
            .cards {
                .projectCard {
                    height: 330px;
                    width: 380px;
                }
            }
        }
    }
}

@media screen and (max-width: 888px) {
    .rootProjects {
        .content {
            .cards {
                .projectCard {
                    height: 330px;
                    width: 350px;
                }
            }
        }
    }
}

@media screen and (max-width: 828px) {
    .rootProjects {
        .content {
            .cards {
                .projectCard {
                    height: 330px;
                    width: 302px;
                }
            }
        }
    }
}

@media screen and (max-width: 732px) {
    .rootProjects {
        .content {
            .cards {
                .projectCard {
                    height: 280px;
                    width: 90%;

                    .Cardcontent {
                        .desc {
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 601px) {
    .rootProjects {
        margin: 80px 0 0 40px;

        .heading {
            p {
                font-size: 25px;
            }
        }

        .content {
            .cards {
                .projectCard {
                    height: 300px;
                    width: 100%;

                    margin-right: 18px;

                    .Cardcontent {
                        .title {
                            font-size: 22px;
                        }
                        .desc {
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 460px) {
    .rootProjects {
        .content {
            .cards {
                .projectCard {
                    height: 330px;
                    width: 100%;

                    .Cardcontent {
                        .desc {
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 383px) {
    .rootProjects {
        .content {
            .cards {
                .projectCard {
                    height: 350px;
                    width: 100%;

                    .logo {
                        margin-bottom: 0px;
                        padding-top: 20px;
                    }

                    .Cardcontent {
                        .title {
                            line-height: 30px;
                            font-weight: 700;
                        }
                        .desc {
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }
}
