.rootSearchbar {
    // height: auto;
    // width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 6px transparent;

    &.active {
        box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
        border-radius: 22px;
    }

    .searchbar {
        min-height: 44px;
        width: 582px;

        display: flex;
        flex-direction: row;

        overflow: hidden;

        border: 1px solid #dfe1e5;
        border-radius: 24px;
        box-shadow: transparent 0px 5px 15px;

        // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        .searchIcon {
            margin: 12px 5px 10px 15px;
        }

        .searchInner {
            height: 45px;
            width: 100%;
            // margin: ;
            padding-top: 1px;
            input {
                height: 45px;
                width: 100%;
                // padding: 10px;
                font-size: 18px;
                // border: 1px solid black;
                border: none;
                outline: none;
                margin-left: 15px;
                // color: #9aa0a6;

                // border-radius: calc(0.5 * 44px);

                &::placeholder {
                    color: #9aa0a6;
                }
            }
        }

        .voice {
            // padding: 0px 8px;
            margin: 10px 15px 5px 0px;
        }

        .camera {
            margin: 10px 20px 5px 0px;
        }

        &.active {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border: 1px solid transparent;

            // &:hover {
            //     box-shadow: none;
            // }
        }

        &.inactive {
            &:hover {
                border: 1px solid transparent;
                box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 8px;

                .dropdown {
                    display: block;
                }
            }
        }
    }

    .divider {
        height: 1px;
        width: 90%;
        background-color: #d9d9d9;
    }

    .dropdown {
        height: fit-content;
        width: 582px;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border: none;

        &.active {
            border-radius: 22px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .dropdownContainer {
            a {
                display: flex;
                flex-direction: row;
                // justify-items: ;
                align-items: center;
                text-decoration: none;

                .clock {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // padding-top: 9px;
                    padding-left: 19px;
                }
                .dropdownRow {
                    text-transform: lowercase;
                    font-size: 16px;
                    font-family: arial, sans-serif;
                    // padding: 5px 0px 3px 22px;
                    padding: 8px 22px;
                    color: #52188c;
                }

                &:hover {
                    background-color: rgb(242, 245, 245);
                }
            }
        }
    }

    .HomeButtons {
        padding-top: 14px;
    }
}
