.rootSkills {
    max-width: 100%;
    height: fit-content;

    margin: 80px 0 0 58px;

    .heading {
        p {
            // color: #f37b83;
            color: #f37b83;
            font-size: 30px;
            font-weight: 700;
            line-height: 42px;
            margin-bottom: 30px;
        }
    }

    .content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;

        .skill {
            margin-top: 20px;
            margin-bottom: 20px;
            padding-right: 90px;

            &:first-child {
                padding-left: 0px;
            }

            &:nth-child(3) {
                padding-left: 0px;
            }

            .skillHolder {
                width: 460px;
                overflow: hidden;
                display: flex;
                flex-direction: row;
                align-items: center;
                .progressbarMain {
                    // height: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 350px;
                    height: 22px;
                    position: relative;

                    .progressBar {
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: translateY(5px);

                        height: 12px;
                        width: 100%;
                        background-color: #554247;
                    }

                    .progressBarUp {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;

                        background-color: #f37b83;
                    }
                }

                .skillPercentage {
                    // height: 50px;
                    // align-content: center;
                    // margin-bottom: 20px;
                    // padding-bottom: 15px;
                    p {
                        padding-left: 20px;

                        // margin-bottom: 20px;
                        font-size: 45px;
                        line-height: 100%;
                        font-weight: 700;
                        width: 100px;
                        // float: right;
                        color: #554247;
                        letter-spacing: -1px;
                    }
                }
            }

            .skillName {
                transform: translateY(-15px);
                p {
                    padding-top: 15px;
                    font-size: 22px;
                    font-weight: 400;
                    color: #a88590;
                }
            }
        }
    }
}
