.rootTitle {
    p {
        font-size: 90px;

        span {
            font-family: "Product Sans Bold";
            // font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            // "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
            // font-weight: 900;
            // padding: 0px;
            // font-family: "Product Sans Bold";
        }
    }
}

@media screen and (max-width: 650px) {
    .rootTitle {
        p {
            font-size: 80px;
        }
    }
}

@media screen and (max-width: 575px) {
    .rootTitle {
        p {
            font-size: 75px;
        }
    }
}

@media screen and (max-width: 441px) {
    .rootTitle {
        p {
            font-size: 72px;
        }
    }
}

@media screen and (max-width: 381px) {
    .rootTitle {
        p {
            font-size: 70px;
        }
    }
}
